.auth {
    height: 100vh;
    width: 100vw;
    background-color: red;
    background: linear-gradient(to bottom right, #00000063, #00000056), url(../../../../assets/images/cargo.png) no-repeat;
    background-size: contain;
    background-position: left;
}
.auth form {
    position: fixed;
    right: 2%;
    top: 4rem;
    bottom: 0;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}
.auth form h2 {
    color: #eee;
    padding: 1rem;
    text-align: center;
}
.auth form .inputs {
    padding: 2rem;
    background: #161616;
    border-radius: .7rem;
}
.auth form .inputs > input {
    padding: .5rem 1.5rem;
    width: 100%;
    outline: none;
    border: solid thin #ff723d;
    background-color: transparent;
    border-radius: .5rem;
    margin: .5rem auto;
    color: #b9b9b9;
    font-size: 1.08rem;
}
.auth form .inputs > button {
    border: thin solid #ff723d;
    font-size: 1.08rem;
    background-color: transparent;
    color: #eee;
    width: 100%;
    text-align: center;
    border-radius: .4rem;
    cursor: pointer;
    padding: .7rem ;
    margin-top: 1rem;
    transition: all .6s ease-in-out;
}

.auth form .inputs > button:hover {
    background-color: #ff723d;
    color: #eee;
}
.auth a {
    font-size: 1.08rem;
    padding: .5rem .3rem;
}
hr {
    border: thin solid #ff723d;
    margin: 1.3rem;
}

@media(max-width: 769px) {
        
    .auth form {
        width: 100%;
        left: 0;
        right: 0;
    }
    .auth form .inputs {
        width: 80%;
    }
}